*,* ::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    flex-direction: column;
    
}
.usersList {
    width: 80%;
    margin-bottom: 40px;
}
.user {
    display: flex;
    border: 1px solid #444;
    padding:20px 10px;
    

}

.user p {
    margin-left: 20px;
    width: 20%;
}

.edit{
    width:5%;
    margin-left: 30px;
    cursor: pointer;
}

.fa-trash {
    cursor: pointer;
}